<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../layout/global.css">
    <title>judul</title>
</head>

<body>
    <nav>
        <a href="../../index.html#projects">Kembali</a>
        <div class="marquee">
            <div class="text">
                <p>#BelajarJavascript</p>
                <p>#BelajarHTML</p>
                <p>#BelajarCSS</p>
                <p>#WebsiteDeveloper</p>
            </div>
        </div>
    </nav>

    <main>
        <h1>judul project</h1>
        <!-- code -->
    </main>

</body>

</html>